<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="EXTRAMOS AI"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        
        <activity
            android:name="com.vadim.extramosopenbetaversion.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
